<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
  </head>
  <body>
    <h1>Main Page</h1>
    <p>testtestest</p>
    <h3>Welcome, <%= id %>번째 가입고객님 !!</h3>
    <img src="images/crong.jpg" alt="" width="300px" />
    <script src="main.js"></script>
  </body>
</html>
